body{
	background: $clr-dark;
	color: $clr-light;
	font-family:$main-ff;
	max-width:1440px;
  position:relative;
}

header{
	padding-top: 1em;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

@media only screen and(min-width: 767px){
	header{
		padding: 1.8em 3em 0em 3em;
	}

	.menu{
		display: none;
	}

	.nav-links{
			display: flex;
			justify-content: space-between;
			align-items:center;
			list-style: none;
			&__item{
			
			a{
        text-decoration: none;
				font-size: .9rem;
				margin-right: 3em;
				cursor: pointer;
				@include link;
			}

				&:first-child{
					font-weight: bold;
				}

			} 
    }		
}

.logo{
	text-transform: uppercase;
	border: 0.5px solid $clr-light;
	padding: .5em .7em;
	margin-left: .7em;
	font-size: .7rem;
}

//this section is for the JS toggle for the hamburger animation
@media only screen and(max-width: 766px){
 .menu{
  background-color:transparent;
  border:none;
  cursor: pointer;
  display: flex;
  padding:0;
  z-index: 2;
 }

 .line{
   fill: none;
  stroke: $clr-light;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 3;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 3;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 3;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 3;
}

.nav-links{
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  width:110vw;
  height:150vh;
  list-style:none;
  flex-direction:column;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background:$clr-dark;
  opacity:0;
  transition:all .7s ease .2s;
  z-index: 1;
}

.nav-links.open{
  transition:all 0.4s ease .4s;
  opacity:1;
}

li{
  opacity:0;
}

li.fade{
  transition:all 0.4s ease-in-out .5s;
  opacity:1;
}

li:nth-child(2).fade{
  transition:all 0.4s ease-in-out .7s;
}

li:nth-child(3).fade{
  transition: all 0.4s ease-in-out .9s;
}

li:nth-child(4).fade{
  transition:all 0.4s ease-in-out 1.1s;
}

ul{
	list-style:none;
	color:#fff;
	font-family: 1.2rem;
	padding:1em;

	li{
		font-size: 1.3rem;
		margin-bottom: 1.3em;
		cursor: pointer;
	}

	li:nth-child(1){
		font-weight:bold;
	}

	a{
		text-decoration: none;
		color: inherit;
		transition: color 0.6 ease;
	}
}
}