//media queries for desktop devices

@media only screen and (min-width: 767px){

	.nav-links li.nav-links__item:hover{
		color: hotpink;
		transition: all 0.4s ease;
	}

	main{
		display: grid;
		grid-template-columns: 2fr 2fr;
		padding-right:5.5em;
		margin-top:6em;
	}
	.product-summary{
		padding-top:1.4em;
		padding-left:3.5em;

		&__details{
			width: 50%;
		}
	}

	.gallery__image{
		width: initial;
	}

	.gallery__designer{
		width:60%;
		right:-4em;
	}

	footer .social-links{
		padding-left:3em;
		justify-content: normal;
	}
}